{% extends "base.html" %}

{% block content %}

<div class="about">
	 <div class="container">
		  <div class="about-main">
			 <div class="about-top">
				<h3>WHO WE ARE</h3>
				<p>We capture various wonderful places around the globe and It would be a tourist's treat to visit them, so do visit them and book these wondeful vacation rentals for your luxurious stay at these marvellous attractions.</p>
			 </div>
			 <div class="about-bottom">
					<div class="col-md-8 about-bottom-left">
						<p>We capture various wonderful places around the globe and It would be a tourist's treat to visit them, so do visit them and book these wondeful vacation rentals for your luxurious stay at these marvellous attractions.
						We capture various wonderful places around the globe and It would be a tourist's treat to visit them, so do visit them and book these wondeful vacation rentals for your luxurious stay at these marvellous attractions.
						We capture various wonderful places around the globe and It would be a tourist's treat to visit them, so do visit them and book these wondeful vacation rentals for your luxurious stay at these marvellous attractions. </p>
					</div>
					<div class="col-md-4 about-bottom-right">
						<img src="/static/pic/Ciego_de_Avila.jpg" alt=""/>
					</div>
				 <div class="clearfix"> </div>
			 </div>
			 <div class="our_blog">
			 <h3>OUR Galleries</h3>
			 <div class="blog-section">				 
					 <div class="col-md-4 elite-grid">
						<a href="#"><img src="/static/pic/Dumat_al_Jundal.jpg" height="200" width="300"  alt=""/></a>
						 <h3><a href="#">Saudi Gallery</a></h3>
						 <p>Top Tourist Attraction Places in Saudi Arabia</p>
						 <a href="/galleri/" class="more">[ View Gallery..]</a>
					 </div>
					 <div class="col-md-4 elite-grid">
						 <a href="#"><img src="/static/pic/Ciego_de_Avila.jpg" height="200" width="300"  alt=""/></a>
						 <h3><a href="#">Cuba Gallery</a></h3>
						 <p>Top Tourist Attraction Places in Cuba</p>
						 <a href="/galleric/" class="more">[ View Gallery..]</a>
					 </div>
					 <div class="col-md-4 elite-grid">
						<a href="#"><img src="/static/pic/Kuwait_towers.jpg" height="200" width="300" alt=""/></a>
						 <h3><a href="#">Kuwait Gallery</a></h3>
						 <p>The most attractive places of Kuwait is given below.. 1. The Liberation Tower It represents Kuwaiti liberation, the sure sign of the count...</p>
						 <a href="/gallerik/" class="more">[ View Gallery..]</a>
					 </div>
					 <div class="clearfix"></div>				
			 </div>
		 </div>
	</div>
</div>
</div>



{% endblock %}