{% extends "base.html" %}

{% block content %}

     <div class="about">
	 <div class="container">
		 <div class="about-main">
			 <div class="about-top">
				<h3>{{ object.title }}</h3>
				<p>Author {{ object.author }}</p>
			 </div>
			 <div class="about-bottom">
					<div class="col-md-8 about-bottom-left">
						<p>{{ object.description }}</p>
					</div>
					<div class="col-md-4 about-bottom-right">
						<img src="/{{ object.pic }}" alt=""/>
					</div>
				 <div class="clearfix"> </div>
			 </div>			 
	     </div>
	</div>
	</div>



{% endblock %}
