{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="contact">
		<div class="contact-in col-md-2">
		</div>	
		<div class="contact-in col-md-8">
			<h3>Register</h3>
			<div class="  contact-left">
				  
				<form  method='POST' action=''>
					{% csrf_token %}
					<div>
				    	<span></span>
						<input name="username" type="text" placeholder="Name" class="textbox">
						<span>{{ form.username.errors }}</span>
					</div>
					<div>
						<span></span>
						<input name="email" type="text" placeholder="Email" class="textbox"> 
						<span>{{ form.email.errors }}</span>
					</div>
				    <div>
						<span></span>
						<input name="password1" type="password" placeholder="Password" class="textbox"> 
						<span>{{ form.password1.errors }}</span>
					</div>
					<div>
						<span></span>
						<input name="password2" type="password" placeholder="Password Again" class="textbox">
						<span>{{ form.password2.errors }}</span>
					</div>
				    <div>
						<span><input type='submit' value='{% if submit_btn %}{{ submit_btn }}{% else %}Submit{% endif %}' class='btn btn-success' /></span>
					</div>
				</form>
			</div>

      	</div>
    </div>
</div>
{% endblock %}